body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.clear-fix {
    overflow: auto;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px 0px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
    padding: 0 10px;
}

article h3 {
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 17px;
}

h4,
h5 {
    padding: 10px 5%;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

em {
    font-size: 16px;
}

header .container {
    padding-top: 50px;
}

.date-text {
    font-style: italic;
    font-size: 16px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 16px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 16px;
    color: #333;
    line-height: 21px;
}

.work-entry a,
.education-entry a,
.github-header a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    font-size: 16px;
}

#topContacts li {
    height: 40px;
}

.flex-item > a {
    display: inline-block;
}

.welcome-message {
    display: none;
    font-style: italic;
    font-size: 16px;
    color: #f3f3f3;
    line-height: 28px;
}

span.welcome-message {
    padding: 0px 5px 10px;
}

#skills-h3 {
    color: #f5ae23;
    display: block;
}

.orange {
    background-color: #f5ae23;
}

.orange-text {
    color: #f5ae23;
}

.white-text {
    font-weight: 700;
    color: #fff;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header-background {
    background-color: #484848;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.biopic {
    display: none;
}

ul {
    list-style-type: none;
}

span {
    padding: 5px;
    font-size: 16px;
    color: #fff;
}

#lets-connect {
    text-align: center;
}

#projects-intro {
    font-style: italic;
    margin-bottom: 10px;
}

.image-project {
    background-color: #829356;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    -ms-transition: all ease .5s;
}

.image-project:hover {
    opacity: 0.5;
    cursor: pointer;
}

.github-header,
.modal-title {
    text-align: center;
}

.modal-list {
    margin: 15px 5px;
    list-style-type: disc;
}

.icon-social {
    padding: 0px 10px;
    color: #fff;
    font-size: 1.5em;
}

.social:hover {
    font-size: 1.7em;
}

.social {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-custom {
    background-color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.navbar-custom a:focus {
    outline: none;
}

.navbar-custom {
    color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #f5a623;
}

.navbar-custom .navbar-nav {
    letter-spacing: 1px;
}

.navbar-custom .navbar-nav li a {
    color: white;
}

.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C;
    outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
    color: white;
}

.navbar-custom .navbar-nav li.active a {
    color: white;
    background: #18BC9C;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
    color: white;
    background: #18BC9C;
}

.navbar-custom .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #18BC9C;
    color: white;
    border-color: #18BC9C;
}

/* Media queries to handle various device widths for Bootstrap */

@media (min-width:992px) {
}

@media (min-width:1200px) {
}

@media (max-width: 767px) {

    .title-project {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
        display: block;
    };
}

#map {
    display: block;
    height: 90%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 100px;
    }

    .biopic,
  .welcome-message {
        display: block;
    }

    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-custom.affix {
        padding: 10px 0;
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    };
}